*{
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url("table_50.png");
    background-position: center;
    background-size: cover;
}

#header{
    text-align: center;
    font-family: 'Righteous', cursive;   
}
#header h1{
    font-size: 28pt;
}
#header a{
    font-size: 15pt;
    color: rgb(58, 56, 56);
}

        #top_row{
            margin-bottom: 30px;
        }

        #league_info{
            font-size: 14pt;
            font-family: 'Righteous', cursive, black;
            border: solid black 2px;
            border-radius: 5px;
            padding: 10px;
            vertical-align: top;
        }



#leaderboard{
    border: solid black 2px;
    border-radius: 5px;
    margin-bottom: 20px;
}
#leaderboard h2{
    text-align: center;
    font-family: 'Righteous', cursive;
}
#leaderboard table *{
    font-family: 'Righteous', cursive;
    font-size: 14pt;
    
}

        #paddles{
            text-align: center;
        }



#players {
    border: solid black 2px;
    border-radius: 5px;
}
#players h2{
    font-family: 'Righteous', cursive;
    text-align: center;
}
#players table *{
    font-family: 'Righteous', cursive;
    font-size: 14pt;    
}
